
  <div >
    <label>Search: <input ng-model="searchText"></label>
    <table class="table table-bordered table-hover table-condensed ">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>speaker</th>
        <th>venue</th>
        <th>duration</th>
        <th>Edit</th>
      </tr>

      <tr ng-repeat="t in talks  | filter:searchText"  >
        <td>
          <span editable-text ="t.id" e-name="id" e-form = "rowform" e-required>
            {{t.id}}
          </span>
        </td>
        <td>
          <span editable-text ="t.name" e-name="name" e-form = "rowform" e-required>
            {{t.name}}
          </span>
        </td>
        <td>
          <span editable-text ="t.speaker" e-name="speaker" e-form = "rowform" e-required>
            {{t.speaker}}
          </span>
        </td>
        <td>
          <span editable-text ="t.venue" e-name="venue" e-form = "rowform" e-required>
            {{t.venue}}
          </span>
        </td>
        <td>
          <span editable-text="t.duration" e-name="duration" e-form="rowform" e-required>
            {{t.duration}}
          </span>
        </td>
        <td style="white-space: nowrap">
          <!-- form -->
          <form editable-form name="rowform" onbeforesave="saveTalk($data)"  ng-show="rowform.$visible" class="form-buttons form-inline"  shown="inserted == t" >
            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
              save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
              cancel
            </button>
          </form>
          <div class="buttons" ng-show="!rowform.$visible">
            <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
            <button class="btn btn-danger" ng-click="deleteTalk(t.id,$index)">del</button>
          </div>
        </td>
      </tr>
    </table>
    <button class="btn btn-default" ng-click="addTalk()">Add row</button>

    <div>count : {{count}}</div>
  </div>
